img {
  width: 100%;
}

/******* fonte *******/
/* font-family: "Bodoni Moda", serif; = Didot
font-family: "EB Garamond", serif; = Apple Garamont
font-family: "Playfair Display", serif; = Vogue*/

/******** menu ********/
.menu {
  background-color: #9bf5a0;
  display: flex;
  justify-content: center;
  padding: 13px 0;
  position: relative;
}

.menu_punkt {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 45px;
  font-size: 15px;
  transition: color 0.15s ease;
  font-family: "Playfair Display", serif;
}

.menu_punkt:hover {
  text-decoration: underline;
}

.menu_punkt.active {
  color: #f54990;
}

/******* generelt ******/
h1 {
  font-family: "Bodoni Moda", serif;
}
h2 {
  font-family: "Bodoni Moda", serif;
}
p {
  font-family: "EB Garamond", serif;
}

/******* pil - knap ********/
.klik_knap {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.pil {
  width: 0;
  height: 0;
  border-top: 10px solid transparent; /* Gennemsigtig top */
  border-bottom: 10px solid transparent; /* Gennemsigtig bund */
  border-left: 10px solid black; /* Sort pil til venstre */
  margin-right: 30px; /* Afstand til teksten */
}

.tekst_pil {
  font-size: 16px;
  color: black;
  font-family: "EB Garamond", serif;
}

.pil:hover {
  border-left-color: gray; /* Ændrer pilens farve ved hover */
}
.tekst_pil:hover {
  text-decoration: underline;
}

.grid_pil {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 10px;
  width: 100%;
}

/********** forside *******/
.main_forside {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center; /* Centrerer vertikalt */
  justify-content: center; /* Centrerer horisontalt */
  font-family: Arial, sans-serif;
}

#magasin_forside {
  width: 210mm;
  height: 297mm;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  position: absolute;
  background-image: url(billeder/forside_billede.png);
  background-size: cover;
  z-index: 1000;
}

h1 {
  position: absolute;
  top: 20px;
}
/* .magasin_forside {
  position: relative;
  background-color: white;
} */

.forside_billede {
  background-image: url(billeder/forside_billede.png);
  background-size: cover;
  background-position: center;
  width: 210mm;
  height: 297mm;
  position: relative;
  z-index: 1;
}

.h1_forside {
  position: absolute;
  top: 20px;

  color: white;
}

/* 
@media (max-width: 768px) {
  .forside_billede {
    width: 100%; 
    height: auto; 
  }

  .magazine-cover h1 {
    font-size: 28px; 
  }

  .magazine-cover p {
    font-size: 16px;
  }
} */

/********* tema 2 - side 1 *******/
@media (min-width: 300px) {
  .magazine {
    display: block;
    gap: 13px;
    padding: 20px;
    height: 100vh;
    align-items: center;
    width: 100%;
  }
  .page_midt {
    width: 80mm;
    height: 297mm;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow: hidden;
  }
  .h1_tema2_side1 {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 2.3rem;
  }
  .billede1_tema2_forside {
    position: relative;
    top: 150px;
  }
  .p_tema2_side1 {
    position: relative;
    top: 160px;
  }
}

@media (min-width: 600px) {
  .magazine {
    display: flex;
    justify-content: center;
    gap: 13px;
    padding: 20px;
    height: 100vh;
    align-items: center;
    aspect-ratio: 210 / 297;
    width: 100%;
  }
  .page_midt {
    width: 130mm;
    height: 297mm;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow: hidden;
  }
  .h1_tema2_side1 {
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 3rem;
  }
  .grid_tema2forside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 200px;
    gap: 30px;
    padding-inline: 2rem;
  }
  .p_tema2_side1 {
    position: relative;
    top: -20px;
  }
  .billede1_tema2_forside {
    position: relative;
    top: 0;
  }
}

@media (min-width: 768px) {
  .magazine {
    display: flex;
    justify-content: center;
    gap: 13px;
    padding: 20px;
    height: 100vh;
    align-items: center;
    aspect-ratio: 210 / 297;
    width: 100%;
  }
  .page_midt {
    width: 165mm;
    height: 297mm;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow: hidden;
  }
  .h1_tema2_side1 {
    position: relative;
    top: 220px;
    text-align: center;
    font-size: 3rem;
  }
  .grid_tema2forside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 400px;
    gap: 30px;
    padding-inline: 2rem;
  }
  .p_tema2_side1 {
    position: relative;
    top: -20px;
  }
}

/******** tema 2 - side 2 ********/
@media (min-width: 300px) {
  .magazine {
    display: block;
    width: 100%;
  }
  .page_left .page_right {
    width: 100%;
    height: auto;
  }
  .page_left .page_right {
    width: 210mm;
    height: 297mm;
    background-color: white;
    overflow: hidden;
  }
  .page_left {
    border-right: 1px solid #ddd;
    width: 80mm;
    height: 190mm;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding-left: 1rem;
  }
  .page_right {
    border-left: 1px solid #ddd;
    width: 84mm;
    height: 190mm;
    background-color: #f59bc0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }

  .h2_tema2side2venstre_1 {
    position: relative;
    top: 30px;
    padding-right: 1rem;
  }
  .billede1_venstre_tema2 {
    position: relative;
    top: 50px;
    padding-right: 1rem;
  }
  .h2_tema2side2venstre_2 {
    position: relative;
    top: 80px;
    padding-right: 1rem;
  }
  .p_tema2side2_1 {
    position: relative;
    top: 90px;
    padding-right: 1rem;
  }
  .billede2_venstre_tema2 {
    position: relative;
    top: 100px;
    padding-right: 1rem;
  }
  .p_tema2side2_2 {
    position: relative;
    top: 120px;
    padding-right: 1rem;
  }
  .grid_tema2side2venstre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 150px;
    padding-right: 1rem;
  }

  .h2_tema2side2højre_1 {
    position: relative;
    top: 50px;
    padding-left: 1rem;
  }
  .p_tema2side2højre_1 {
    position: relative;
    top: 60px;
    padding-left: 1rem;
  }
  .billede3_højre_tema2 {
    position: relative;
    top: 70px;
  }
  .studiestartsprøven {
    position: relative;
    top: 120px;
    padding-left: 1rem;
  }
}

@media (min-width: 600px) {
  .magazine {
    display: block;
    width: 100%;
  }
  .page_left .page_right {
    width: 100%;
    height: auto;
  }
  .page_left .page_right {
    width: 210mm;
    height: 297mm;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
  }
  .page_left {
    border-right: 1px solid #ddd; /* Skab visuel adskillelse */
    width: 130mm;
    height: 210mm;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding-left: 1rem;
  }
  .page_right {
    border-left: 1px solid #ddd; /* Skab visuel adskillelse */
    width: 130mm;
    height: 210mm;
    background-color: #f59bc0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }

  .h2_tema2side2venstre_1 {
    position: relative;
    top: 30px;
    padding-right: 1rem;
  }
  .billede1_venstre_tema2 {
    position: relative;
    top: 50px;
    padding-right: 1rem;
  }
  .h2_tema2side2venstre_2 {
    position: relative;
    top: 80px;
    padding-right: 1rem;
  }
  .p_tema2side2_1 {
    position: relative;
    top: 90px;
    padding-right: 1rem;
  }
  .billede2_venstre_tema2 {
    position: relative;
    top: 100px;
    padding-right: 1rem;
  }
  .p_tema2side2_2 {
    position: relative;
    top: 120px;
    padding-right: 1rem;
  }
  .grid_tema2side2venstre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 150px;
    padding-right: 1rem;
  }

  .h2_tema2side2højre_1 {
    position: relative;
    top: 50px;
    padding-left: 1rem;
  }
  .p_tema2side2højre_1 {
    position: relative;
    top: 60px;
    padding-left: 1rem;
  }
  .billede3_højre_tema2 {
    position: relative;
    top: 70px;
  }
  .studiestartsprøven {
    position: relative;
    top: 120px;
    padding-left: 1rem;
  }
}

@media (min-width: 768px) {
  .magazine {
    display: flex;
    justify-content: center;
    gap: 13px;
    padding: 20px;
    height: 100vh;
    align-items: center;
    aspect-ratio: 210 / 297;
    width: 100%;
  }
  .page_left .page_right {
    width: 210mm;
    height: 297mm;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow: hidden;
  }
  .page_left {
    border-right: 1px solid #ddd; /* Skab visuel adskillelse */
    width: 165mm;
    height: 297mm;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding-left: 1rem;
  }
  .page_right {
    border-left: 1px solid #ddd; /* Skab visuel adskillelse */
    width: 165mm;
    height: 297mm;
    background-color: #f59bc0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }

  .h2_tema2side2venstre_1 {
    position: relative;
    top: 200px;
    padding-right: 1rem;
  }
  .billede1_venstre_tema2 {
    position: relative;
    top: 220px;
    padding-right: 1rem;
  }
  .h2_tema2side2venstre_2 {
    position: relative;
    top: 280px;
    padding-right: 1rem;
  }
  .p_tema2side2_1 {
    position: relative;
    top: 290px;
    padding-right: 1rem;
  }
  .billede2_venstre_tema2 {
    position: relative;
    top: 320px;
    padding-right: 1rem;
  }
  .p_tema2side2_2 {
    position: relative;
    top: 350px;
    padding-right: 1rem;
  }
  .grid_tema2side2venstre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 360px;
    padding-right: 1rem;
  }

  .h2_tema2side2højre_1 {
    position: relative;
    top: 200px;
    padding-left: 1rem;
  }
  .p_tema2side2højre_1 {
    position: relative;
    top: 230px;
    padding-left: 1rem;
  }
  .billede3_højre_tema2 {
    position: relative;
    top: 280px;
  }
  .studiestartsprøven {
    position: relative;
    top: 380px;
    padding-left: 1rem;
  }
}

/********* tema 2 - side 3 *******/
@media (min-width: 300px) {
  .billede1_tema2_side3 {
    position: relative;
    top: 80px;
  }
}
@media (min-width: 600px) {
  .billede1_tema2_side3 {
    position: relative;
    top: 100px;
  }
}
@media (min-width: 768px) {
  .billede1_tema2_side3 {
    position: relative;
    top: 300px;
  }
}
